body {
    background-color: #ffffff;
    margin: 0;
}

.notes-page
{
    font-family: 'Roboto', serif;
    font-size: large;
    min-height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.notes-page, h1 {
    font-weight: 500;
    margin: 0;
}

.title {
    background-color: #e3d5c5;
    border-bottom-color: black;
    border-bottom-style: solid;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.search-bar {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.search-bar input {
    min-height: 30px;
    border: 1px solid;
    font-size: 16px;
    background-color: #D9D9D9;
}

.book-list {
    background-color: #e3d5c5;
    flex-grow: 1;
    overflow-y: hidden;
    width: 250px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #e3d5c5;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 30px 16px;
    text-decoration: none;
    text-align: center;
  }
  
  li a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }

footer {
    background-color: #101238;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

