body {
    background-color: #e3d5c5;
}

.notes-page
{
    border-color: red;
    border-style: solid;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

.search-bar {
    border-color: green;
    border-style: solid;
}

.note-list {
    border-color: blue;
    border-style: solid;
}

